* {
  margin: 0%;
}

div {
  width: 300px;
  height: 150px;
  background-color: red;
  border-radius: 30px;
  position: absolute;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    top: 0%;
    left: 0%;
    background-color: blue;
    transform: rotate(0deg);
  }
  12.5% {
    top: 0%;
    left: calc(100% - 300px);
    background-color: yellow;
    transform: rotate(180deg);
  }
  25% {
    top: calc(100% - 150px);
    left: calc(100% - 300px);
    background-color: red;
    transform: rotate(360deg);
  }
  37.5% {
    top: calc(100% - 150px);
    left: 0;
    background-color: pink;
    transform: rotate(180deg);
  }
  50% {
    top: 0%;
    left: 0%;
    background-color: orange;
    transform: rotate(360deg);
  }
  62.5% {
    top: calc(100% - 150px);
    left: 0;
    background-color: pink;
    transform: rotate(180deg);
  }
  75% {
    top: calc(100% - 150px);
    left: calc(100% - 300px);
    background-color: red;
    transform: rotate(360deg);
  }
  87.5% {
    top: 0%;
    left: calc(100% - 300px);
    background-color: yellow;
    transform: rotate(180deg);
  }
  100% {
    top: 0%;
    left: 0%;
    background-color: yellow;
    transform: rotate(0deg);
  }
}
